@import url(https://fonts.googleapis.com/css2?family=Kameron:wght@700&display=swap);

:root {
  --max-game-width: 500px;
  --keyboard-height: 200px;
  --header-height: 52px;
  --color-tone-1: #ffffff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --color-nav-hover: #2f2f31;
  --green: #6aaa64;
  --darkened-green: #538d4e;
  --yellow: #c9b458;
  --darkened-yellow: #b59f3b;
  --tile-present: var(--darkened-yellow);
  --tile-correct: var(--darkened-green);
  --tile-absent: var(--color-tone-4);
  --key-bg: var(--color-tone-2);
  --key-bg-absent: var(--color-tone-4);
  --key-bg-correct: var(--darkened-green);
  --key-bg-present: var(--darkened-yellow);
  --key-text-color: var(--color-tone-1);
  --tile-flip-speed: 0.33s;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: helvetica;
}


html,body, .container {
    height: 100%;
}

body {
  background: var(--color-tone-7);
  margin: 0 auto;
}

.game {
  display: flex;
  flex-direction: column;
  max-width: var(--max-game-width);
  width: 100%;
  margin: 0 auto;
  height: calc(100% - var(--header-height));
}
.header {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--color-tone-3);
  vertical-align: center;
  color: #fff;
  font-weight: 700;
  font-family: 'Kameron', 'serif';
  padding: 2px;
  font-size: 37px;
}
.board-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.board-game {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  border: 1px #00f;
  padding: 20px;
}

.game-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

@keyframes rejected-shake {
  0%   { transform: translate(-3px)}
  20%  { transform: translate(3px)}
  40%  { transform: translate(-3px)}
  60%  { transform: translate(3px)}
  80%  { transform: translate(-3px)}
  100% { transform: translate(3px)}
}

.game-row.rejected {
  animation-name: rejected-shake;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
}

.tile {
  border: 2px solid var(--color-tone-4);
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
}

@keyframes tile-tbd {
  0%   {transform: scale(100%);}
  50%  {transform: scale(105%);}
  100% {transform: scale(100%);}
}

@keyframes flip-hor {
  0%   {transform: scale(1.0, 1.0);}
  50%  {transform: scale(1.0, 0.0);}
  100% {transform: scale(1.0, 1.0);}
}

@keyframes change-background {
  100%   {border: none; background-color: var(--tile-bg-color-name);}
}

.tile.tbd{
  border-color: var(--color-tone-3);
  animation-name: tile-tbd;
  animation-duration: 0.1s;
}

.tile.present,
.tile.absent,
.tile.correct {
  animation-name: flip-hor, change-background;
  animation-duration: var(--tile-flip-speed), calc(var(--tile-flip-speed) / 2);
  animation-timing-function: ease-out, step-end;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--index) * var(--tile-flip-speed));
}

.keyboard {
  text-align: center;
  height: var(--keyboard-height);
  display: block;
}

button.key {
  background-color: var(--color-tone-2);
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 10px 10px;
  font-weight: bold;
  border: 0;
  min-width: 35px;
  margin: 0 5px 5px 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: var(--key-bg);
  color: var(--key-text-color);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
  transition: all step-end;
  transition-delay: calc(var(--wordLength) * var(--tile-flip-speed))
}

button.key.absent {
  background-color: var(--key-bg-absent);
}

button.key.present { 
  background-color: var(--key-bg-present);
}

button.key.correct {
  background-color: var(--key-bg-correct);
}

.alertContainer {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: fit-content;
  z-index: 1000;
}

@keyframes fade-out {
  0%  {  opacity: 0.0; }
  1%  { opacity: 1.0; }
  90% {  opacity: 1.0; }
  100% { opacity: 0.0; }
}

.alert {
  background-color: var(--color-tone-1);
  opacity: 0.0;
  margin: 5px;
  border-radius: 5px;
  padding: 15px;
  font-weight:bold;
  text-align: center;
  animation-name: fade-out;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.alert.game-complete {
  animation-delay: calc(var(--wordLength) * var(--tile-flip-speed) + .1s); 
}